/* Custom CSS */
/*.container {
	width: 595px;
}*/
.mtb-20 {
    margin: 20px auto;
}
.dinline {
    display: inline-block;
}
.dottop {
    padding-top: 5px;
    border-top: 1px dotted #333;
}
.dot {
    border-bottom: 1px dotted #333;
}
.mlr-10 {
    margin: auto 10px;
}
.mr-10 {
    margin-right: 10px;
}
.p-0 {
    padding: 0 !important;
}
.h-80 {
    height: 80px;
}
.h-37 {
    height: 37px;
}
.m-0 {
    margin: 0;
}
.blrb-0 {
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
}
.br {
    border-right: 1px solid #ddd !important;
}
.table>tbody>tr>td.bt-0 {
    border-top: 0 !important;
}
table tr th {
    text-align: center;
}
@page {
    size: A4;
    margin: 0;
}
@media print {
    /* html, body {
       width: 210mm;
       height: 297mm;
   }*/
    .dot {
        border-bottom: 1px dotted #333;
    }
}
.map-table {
    float: left;
    width: 50%;
}